.ovlbContainer {
  height: calc(100% - 206px);
}

#ews-cubes-panel {
  width: 280px;
  height: 150px;
  background: rgba(29,29,32,.8);
  position: absolute;
  right: 0;
  bottom: 20px;
  margin-right: 20px;
  border-radius: 8px;
}

#ews-cubes-panel.hidden {
  visibility: hidden;
}

.ews-cubes-tab {
  display: inline-block;
  width: 52px;
  height: 20px;
  border: 1px solid rgba(60,60,60,.83);
  border-radius: 2px;
  color: #e4e1e1;
  font-size: 13px;
  text-align: center;
  margin: 4px 1px;
  cursor: pointer;
}

.ews-cubes-tab:hover {
  background-color: hsla(0,0%,100%,.11);
}

.ews-cubes-tab.active {
  background-color: rgba(115,124,140,.28);
}

#ews-cubes-container {
  overflow-y: auto;
  height: 128px;
}

#ews-cubes-container .msg {
  color: #e4e1e1;
  font-size: 13px;
  text-align: center;
  font-style: italic;
  padding-top: 20px;
}

.ews-cubes-cube {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 1px 2px;
  cursor: pointer;
  border-radius: 2px;
}

.loading {
  border-color: #49F;
}

#ews-debug-table {
  font-size: 10pt;
  color: #e4e1e1;
  user-select: text;
  -webkit-user-select: text;
}

#ews-debug-table tr td:nth-child(1) {
  font-weight: 400;
  text-align: right;
  padding-right: 10px;
  color: white;
}

#ews-debug-table tr td:nth-child(2) {
  color: #ccc;
}

.ews-cubes-low-wt-sc-counter {
  font-size: 8px;
  color: #999;
  display: inline-block;
  width: 10px;
}
